@font-face{
    font-family: 'Montserrat Medium';
    src: url(../fonts/Montserrat/FontsFree-Net-Montserrat-Medium.ttf);
}

@font-face{
    font-family: 'Montserrat Thin';
    src: url(../fonts/Montserrat/Montserrat-Thin.ttf);
}

@font-face{
    font-family: 'Myriad Pro';
    src: url(../fonts/MyriadPro/MyriadPro.otf);
}

@font-face{
    font-family: 'Nunito Sans Bold';
    src: url(../fonts/NunitoSans/NunitoSans-Bold.ttf);
}

@font-face{
    font-family: 'Nunito Sans';
    src: url(../fonts/NunitoSans/NunitoSans-Regular.ttf);
}

@font-face{
    font-family: 'Work Sans';
    src: url(../fonts/WorkSans/WorkSans-Regular.ttf);
}

@font-face{
    font-family: 'Roboto Medium';
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
}